#p-one{
    background-color: teal;
    }
#p-two{
    background-color: lightgrey;
    }
#p-two-btn{
  float: right;
}
.tallyTwo{
  float: right;
}
.playertwoturn{
border: 2px solid red;
}
#holdtwo{
  float: right;
}
#right{
  float: right;
}